.App {
  margin: 3rem auto;
  width: 40vw;
}

.upload-form {
  border: 1px solid #ccc;
  text-align: left;
  padding: 2rem;
}

.upload-form .form-group {
  margin-bottom: 2rem;
}

.upload-form label {
  display: inline-block;
  font-weight: 600;
  margin-right: 1rem;
  width: 100px;
}

.upload-form input[name="title"] {
  width: 300px;
}

.upload-form .submit-button {
  text-align: right;
  margin-bottom: 0;
}
